misc/S2364-00001_CombinedVariantOutput.tsv
misc/S2364-00002_CombinedVariantOutput.tsv
misc/S2364-00003_CombinedVariantOutput.tsv
misc/S2364-00004_CombinedVariantOutput.tsv
misc/S2364-00007_CombinedVariantOutput.tsv
misc/S2364-00008_CombinedVariantOutput.tsv
misc/S2364-00009_CombinedVariantOutput.tsv
misc/S2364-00010_CombinedVariantOutput.tsv
misc/S2364-00019_CombinedVariantOutput.tsv
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/Aligned.out.bam
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/Chimeric.out.junction
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/Log.final.out
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/Log.out
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/Log.progress.out
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/pipeliner.1.cmds
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/ReadsPerGene.out.tab
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/SJ.out.tab
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.fusion_predictions.abridged.coding_effect.tsv
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.fusion_predictions.abridged.tsv
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.fusion_predictions.tsv
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/_starF_checkpoints/abridged_final
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/_starF_checkpoints/annot_filter.ok
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/_starF_checkpoints/coding_eff.ok
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/_starF_checkpoints/cp_final.ok
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/_starF_checkpoints/FFPM_filter.ok
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/_starF_checkpoints/FFPM.ok
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/_starF_checkpoints/fusion_annotator.ok
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/_starF_checkpoints/predicted_fusions_with_splice_info.ok
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/_starF_checkpoints/remove_lesser_at_brkpt.ok
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/_starF_checkpoints/RTartifact_filter.ok
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/_starF_checkpoints/run_star_aligner.ok
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/_starF_checkpoints/STAR-Fusion.filter.ok
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/_starF_checkpoints/star-fusion.handle_multimappers.ok
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/_starF_checkpoints/star-fusion.map_chim_to_genes.ok
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/_starF_checkpoints/star-fusion.STAR-Fusion.predict.ok
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/_STARgenome/sjdbInfo.txt
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/_STARgenome/sjdbList.out.tab
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/_STARpass1/Log.final.out
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/_STARpass1/SJ.out.tab
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.fusion_candidates.preliminary
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.fusion_candidates.preliminary.filtered
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.fusion_candidates.preliminary.filtered.FFPM
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.fusion_candidates.preliminary.wSpliceInfo
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.fusion_candidates.preliminary.wSpliceInfo.wAnnot
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.fusion_candidates.preliminary.wSpliceInfo.wAnnot.annot_filter.fail
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.fusion_candidates.preliminary.wSpliceInfo.wAnnot.annot_filter.pass
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.fusion_candidates.preliminary.wSpliceInfo.wAnnot.annot_filter.pass.RTartifact.filtered
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.fusion_candidates.preliminary.wSpliceInfo.wAnnot.annot_filter.pass.RTartifact.pass
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.fusion_candidates.preliminary.wSpliceInfo.wAnnot.annot_filter.pass.RTartifact.pass.brkptselect.filtered
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.fusion_candidates.preliminary.wSpliceInfo.wAnnot.annot_filter.pass.RTartifact.pass.brkptselect.pass
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.fusion_candidates.preliminary.wSpliceInfo.wAnnot.annot_filter.pass.RTartifact.pass.brkptselect.pass.minFFPM.0.1.pass
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.junction_breakpts_to_genes.txt
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.junction_breakpts_to_genes.txt.fail
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.junction_breakpts_to_genes.txt.pass
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.junction_read_names
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.spanning_frag_names
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.filter.intermediates_dir/star-fusion.post_blast_and_promiscuity_filter
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.filter.intermediates_dir/star-fusion.post_blast_and_promiscuity_filter.abridged
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.filter.intermediates_dir/star-fusion.pre_blast_filter
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.filter.intermediates_dir/star-fusion.pre_blast_filter.filt_info
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.filter.intermediates_dir/star-fusion.pre_blast_filter.post_blast_filter
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.filter.intermediates_dir/star-fusion.pre_blast_filter.post_blast_filter.info
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.filter.intermediates_dir/star-fusion.pre_blast_filter.post_blast_filter.post_promisc_filter
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.filter.intermediates_dir/star-fusion.pre_blast_filter.post_blast_filter.post_promisc_filter.info
misc/S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions/star-fusion.preliminary/star-fusion.filter.intermediates_dir/star-fusion.scores_adjusted_for_multimapping
misc/test_merge/BL100Aligned.sortedByCoord.out.gene_abund.tab
misc/test_merge/BL101Aligned.sortedByCoord.out.gene_abund.tab
misc/test_merge/BL103Aligned.sortedByCoord.out.gene_abund.tab
misc/test_merge/BL104Aligned.sortedByCoord.out.gene_abund.tab
misc/test_merge/BL105Aligned.sortedByCoord.out.gene_abund.tab
misc/test_merge/BL106Aligned.sortedByCoord.out.gene_abund.tab
misc/test_merge/BL107Aligned.sortedByCoord.out.gene_abund.tab
misc/test_merge/BL108Aligned.sortedByCoord.out.gene_abund.tab
misc/test_merge/BL109Aligned.sortedByCoord.out.gene_abund.tab
misc/test_merge/BL110Aligned.sortedByCoord.out.gene_abund.tab
vcf/S1910-00016.germline.filtered.vcf
vcf/S1910-00016.somatic.filtered.vcf
vcf/test.csv
vcf/test.vcf
vcf/test2.csv
vcf/test2.tsvtsv
vcf/il33_reduced_ref_fixed.fasta
vcf/1p_filtered.vcf
misc/test2.tsv
misc/test_out.csv
misc/test_out
misc/SampleSheet.csv
misc/S2364_02Mar2022_01.20220315-191830_MetricsOutput.tsv
misc/protein_coding_genes_400
misc/protein_coding_genes
misc/genes
misc/Homo_sapiens.GRCh38.100.gtf
misc/Bayer_Updated_Example_2.xlsx
fasta/rerun_reads/test_reads_2m_0_R1.fastq.gz
fasta/rerun_reads/test_reads_2m_0_R2.fastq.gz
fasta/rerun_reads/targets_out.fasta
fasta/test2m_0_R2.fastq.gz
fasta/test2m_0_R1.fastq.gz
fasta/test_0_R2.fastq.gz
fasta/test_0_R1.fastq.gz
fasta/rerun_coords_0_R2.fastq.gz
fasta/rerun_coords_0_R1.fastq.gz
fasta/off_target_amplicon.fasta
fasta/il33_target.fa
fasta/il33_reduced_ref.fasta
fasta/il33_reduced_ref_old.fasta
fasta/il33_reduced_ref_fixed.fasta
bam/wgEncodeUwRepliSeqBg02esG1bAlnRep1.bam.bai
bam/wgEncodeUwRepliSeqBg02esG1bAlnRep1.bam
bam/all_chr_windows
test.tsv
S1568-00245-CP1Lib1_S23_Resampled_uniq.R1.fusions.tar.gz
GRCh38_latest_rna.fna
gc_cov.csv
